@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono-normal {
  /* font-family: "Azeret Mono", monospace; */
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  font-family: "Azeret Mono", monospace;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 48px 150px;
  text-align: center;
}

.nav-header {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
}

.nav-btn {
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  align-items: center;
  padding: 10px;
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: blue;
  color: white;
}

/* banner section */
.banner-section {
  background-image: url(../assets/Hero-bg.png);
}

.banner-content {
  text-align: center;
  margin: 0 140px;
}

.banner-content img {
  height: 240px;
  width: 240px;
}

.banner-content h3 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
}

.banner-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
}

.banner-content button {
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

/* why web development */
.web-container {
  /* text-align: center; */
  margin: 100px 140px 0;
}

.web-container h3 {
  color: rgb(13, 19, 33);
  font-weight: 800;
  font-size: 32px;
  text-align: center;
}

.web-container p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  text-align: center;
}

.group-1 {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  margin-top: 100px;
}

.group-1 h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  width: 390px;
  text-align: left;
}

.group-1 p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  width: 465px;
  text-align: left;
}

.btn {
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}
.btn-txt {
  padding: 5px;
}
.group-2 {
  display: flex;
  /* justify-content: space-between; */
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  margin-top: 30px;
}

.group-2-img {
  margin-right: 40px;
}

.group-2 h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  width: 390px;
  text-align: left;
}

.group-2 p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  width: 465px;
  text-align: left;
}

.btn {
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}
.btn-txt {
  padding: 5px;
}
.group-3 {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  margin-top: 30px;
}

.group-3 h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  width: 390px;
  text-align: left;
}

.group-3 p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  width: 465px;
  text-align: left;
}

.btn {
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}
.btn-txt {
  padding: 5px;
}

/* inspiration section */
.inspiration {
  text-align: center;
  margin: 0 140px;
}

.inspiration h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}

.inspiration p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  margin: 0 140px 30px;
}

.inspiration iframe {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  background-color: 1px Inside rgba(13, 19, 33, 0.2);
  padding: 32px;
  width: 750px;
  height: 400px;
}

/* current page */
.current-section {
  margin: 0 140px;
}
.current-header {
  text-align: center;
}

.current-header h3 {
  color: rgb(13, 19, 33);
  font-weight: 800;
  font-size: 32px;
}

.current-header p {
  color: rgb(13, 19, 33);
  font-size: 16px;
}

.box-container {
  display: flex;
  gap: 100px;
  margin-top: 80px;
}

.html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 24px;
}

.css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 24px;
}

.js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 24px;
}

.html > p > a {
  color: rgb(13, 19, 33);
  font-weight: 700;
}
.css > p > a {
  color: rgb(13, 19, 33);
  font-weight: 700;
}
.js > p > a {
  color: rgb(13, 19, 33);
  font-weight: 700;
}

/* next target section */

.next-target {
  margin: 0 140px;
}
.next-target-heading {
  text-align: center;
  margin-top: 150px;
}

.next-target-heading h2 {
  color: rgb(13, 19, 33);
  font-weight: 800;
  font-size: 32px;
}

.next-target-heading p {
  color: rgb(13, 19, 33);
  font-size: 16px;
}

.react {
  display: flex;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin: 60px 0;
  padding: 10px;
}

.react h1 {
  color: rgb(13, 19, 33);
  font-weight: 800;
  font-size: 24px;
}

.react p {
  color: rgb(13, 19, 33);
  font-size: 16px;
}
.react p > a {
  color: rgb(13, 19, 33);
}

/* support section */
.support-section {
  margin: 0 140px;
  background-image: url(/assets/handshake.jpg);
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
  height: 320px;
  background-size: cover;
}

.support-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.support-content h2 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 32px;
}

.support-content p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
}

.text-field {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  height: 45px;
  width: 400px;
  padding: 5px;
}

.submit {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  height: 45px;
  width: 100px;
  color: rgb(13, 19, 33);
  font-weight: 600;
}

/* footer */
.footer {
  margin: 80px 140px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer h3 {
  color: rgb(13, 19, 33);
  font-weight: 600;
  font-size: 20px;
}

#facebook {
  font-size: 36px;
}
#github {
  font-size: 36px;
}
#linkedin {
  font-size: 36px;
}

